@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');

:root {
    --lato-font: 'Lato', sans-serif;
    --poppins-font: 'Poppins', sans-serif;
    --body-bg: #F2F5F9;
    --dark: #111729;
    --gray: #677489;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    font-family: var(--lato-font);
    background-color: var(--body-bg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 450px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.img-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    display: inline-block;
}

.hero-img {
    display: block;
    max-width: 100%;
    height: auto;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
}

.card-body {
    padding: 1rem;
}

.title {
    font-family: var(--poppins-font);
    color: var(--dark);
}

.desc {
    font-size: 18px;
}

p {
    color: var(--gray);
}

.user {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-name {
    font-weight: 700;
    color: var(--dark);
}

.user-ocupation {
    font-weight: 600;
    font-size: 14px;
}

.avatar-img {
    width: 50px;
    border-radius: 50%;
}

@media screen and (max-width: 767px) {
    .card {
        width: 350px;
    }
    
    .img-container {
        height: 250px;
    }
    
    .overlay {
        height: 55px;
    }
    
    .title {
        font-size: 22px;
    }
    
    .desc, .user-name {
        font-size: 15px;
    }
    
    .user-ocupation {
        font-weight: 500;
        font-size: 12px;
    }
}